*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:'poppins',sans-serif;
 }
 body{
     background-image: linear-gradient(rgba(0, 0, 0, 0.4)50%,rgba(0, 0, 0, 0.3)50%);
     background-size:cover;
     height:70vh;
     width:100px;
     margin-left: 90px;
     font-family: sans-serif;
 }